h1{
    text-align: center;
}
blockquote{
    text-align: right;
}
.p_quote{
    font-size: 12px;
}

body>article>p
{
   text-align: justify;
}

article > p::first-letter{
    font-weight:bold ;
}

.opacity_70{
    opacity: 70%;
}
.opacity_60{
    opacity: 60%;
}
.opacity_40{
    opacity: 40%;
}
.opacity_30{
    opacity: 30%;
}
.opacity_20{
    opacity: 20%;
}
.opacity_10{
    opacity: 10%;
}
